<div class="card mt-3">
  <div class="card-header">
    View Encapsulation
  </div>
  <div class="card-body">
    <p class="card-text">
      Change the ViewEncapsulation to None and you'll see all the paragraphs (in all components) will be blue. This blue
      comes from css file of this component.
    </p>
    <p class="card-text text-monospace code">
      <b>ViewEncapsulation.None</b> - No Shadow DOM at all. Therefore, also no style encapsulation.<br />
      <b>ViewEncapsulation.Emulated</b> - (Default) No Shadow DOM but style encapsulation emulation.<br />
      <b>ViewEncapsulation.ShadowDom</b> - Shadow Dom with all it’s goodness.
    </p>
  </div>
</div>